---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";
@import "main";

.post ul {
  margin-bottom:8px;
}

.grid-half {
  display:inline-block;
  width: 49%;
  vertical-align: top;
  padding: 5px;
}

.text-center {
  text-align: center;
}

#about-lists >ul {
  list-style: initial;
  margin-bottom: 10px;
}

.active { 
  border-bottom: 3px solid $primary-color
}
